.boardGame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4574d3;
    height: 100vh;
    gap: 35px;
}

.board {
    width: 90%;
    border: 4px solid black;
    border-radius: 10px;
    box-shadow: -10px 5px 0px 2px rgb(0, 0, 0);
    background-color: #ffffff;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 7px;
    aspect-ratio: 1/1;
}

.container {
    background-color: #FCD015;
    width: 100%;
    height: 100px;
}

.borderTop {
    background-color: #B28100;
    border-bottom: 7px solid transparent;
    border-left: 100vw solid #4574d3;
    box-sizing:   border-box;
}

.borderBottom {
    background-color: #B28100;
    border-top: 7px solid transparent;
    border-right: 100vw solid #4574d3;
    box-sizing:   border-box;
}